<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
  <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body class="bg-blue-50">
    {{> navbarAdmin}}

    <h1 class="text-black mt-[100px] flex justify-center text-3xl font-bold">MANAGE PROJECTS</h1>
    <div class="container w-6xl ms-3 p-10 bg-white mt-20 justify-self-center">
      <a href="/addproject" class="bg-white h-20 flex items-center mb-3">
        <button class="bg-blue-500 hover:bg-blue-700 h-10 flex py-2 px-3 font-bold ms-3 text-white rounded-2xl cursor-pointer">Add Project +</button>
      </a>
            <table class="w-full">
            <tr class="h-10">
                <th class="">No.</th>
                <th class="">Name</th>
                <th class="">Description</th> 
                <th class="">Tech Use</th> 
                <th class="">Github Link</th> 
                <th class="">Demo Link</th> 
                <th class="">Image</th> 
                <th class="">Action</th>
            </tr>
              {{#each hasilproject }}
            <tr class="">
                <td class="text-center">{{ increment @index }}</td>
                <td class="truncate whitespace-nowrap overflow-hidden max-w-[100px]">{{this.name}}</td>
                <td class="truncate whitespace-nowrap overflow-hidden max-w-[150px]">{{this.description}}</td>
                <td class="truncate whitespace-nowrap overflow-hidden max-w-[150px]">{{this.tech_use}}</td>
                <td class="truncate whitespace-nowrap overflow-hidden max-w-[20px]">{{this.link_github}}</td>
                <td class="truncate whitespace-nowrap overflow-hidden max-w-[50px]">{{this.link_demo}}</td>
                <td class=""><img src="../../uploads/project/{{ this.image }}" class="w-10" alt=""></td>
                <td class="text-center truncate whitespace-nowrap overflow-hidden max-w-[150px]">
                  <a href="/">
                    <button class="px-3 bg-yellow-500 m-1 text-white cursor-pointer">Edit</button>
                  </a>
                  <form action="/delete-project/{{ this.id }}" method="post"  onsubmit="return confirm('Yakin mau dihapus?')">
                    <button  class="px-3 bg-red-700 m-1 text-white cursor-pointer">Delete</button>
                  </form>
                </td>
            </tr>
              {{/each}}
            </table>
            </div>


    {{> footer}}
</body>
</html>