<!DOCTYPE html>
<html lang="en">
<head>
  {{> head}}
  <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body class="bg-blue-50">
    {{> navbarAdmin}}

    <h1 class="text-black mt-[100px] flex justify-center text-3xl font-bold">MANAGE EXPERIENCE</h1>
    <div class="container w-6xl ms-3 p-10 bg-white mt-20  justify-self-center">
      <a  href="/addexperience" class="bg-white h-20 flex items-center mb-3">
        <button class="bg-blue-500 hover:bg-blue-700 h-10 flex py-2 px-3 font-bold ms-3 text-white rounded-2xl cursor-pointer">Add Experience +</button>
      </a>
            <table class="w-full">
            <tr class="h-10">
                <th class="">No.</th>
                <th class="">Tittle</th>
                <th class="">Company</th> 
                <th class="">Job Desc</th> 
                <th class="">Tech Use</th> 
                <th class="">Start Date</th> 
                <th class="">End Date</th> 
                <th class="">Image</th> 
                <th class="">Action</th>
            </tr>
            <tr class="">
              {{#each hasil }}
                <td class="text-center">1</td>
                <td class="truncate whitespace-nowrap overflow-hidden max-w-[100px]">{{ this.tittle }}</td>
                <td class="truncate whitespace-nowrap overflow-hidden max-w-[100px]">{{ this.company }}</td>
                <td class="">{{ this.jobdesc }}</td>
                <td class="">{{ this.tech_use }}</td>
                <td class="truncate whitespace-nowrap overflow-hidden max-w-[60px]">{{ this.start_date }}</td>
                <td class="truncate whitespace-nowrap overflow-hidden max-w-[60px]">{{ this.end_date }}</td>
                <td class="truncate whitespace-nowrap overflow-hidden max-w-[50px]"><img src="../assets/icon/{{ this.image }}" class="w-10" alt=""></td>
                <td class="text-center max-w[100px]">
                    <button class="px-3 bg-yellow-500 m-1 text-white">Edit</button>
                    <button  class="px-3 bg-red-700 m-1 text-white">Delete</button>
                </td>
            </tr>
              {{/each}}
            </table>
            </div>


    {{> footer}}
</body>
</html>